{
    "presets": [
        ["@babel/env", {"targets": {"node": "current"}}],
        "@babel/preset-typescript",
        ["@babel/react", {"runtime": "automatic"}]
    ],
    "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-optional-chaining"
    ]
}
