.filter-item {
    border-radius: var(--border-radius);
    color: var(--primary-color);
    padding: 1vh 0.4vw;
    width: -webkit-fill-available;
    width: -moz-available;
}

.status-filter {
    margin-top: 1vh;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.status-data {
    font-size: 1.15em;
}
